@use "sass:list";
$sizes: 576px, 768px, 992px, 1200px;

:host {
  --calculadora-background-color: #6ab4fa;
  --pantalla-background-color: #004000;
  --pantalla-color: #ffff00;
  --digito-color: #000080;
  --operador-color: #ff0000;
  --dark-calculadora-background-color: #000000;
  --dark-pantalla-background-color: #e4fbe4;
  --dark-pantalla-color: #4a4a00;
  --dark-digito-color: #000080;
  --dark-operador-color: #ff0000;
}

.Calculadora {
  @mixin tamañoFont($factor: 0.3em) {
    @for $delta from 0 to list.length($sizes) {
      @media (min-width: list.nth($sizes, $delta + 1)) {
        font-size: 1em + ($delta + 1) * $factor !important;
      }
    }
  }
  $fuente: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--calculadora-background-color);
  border-style: outset;
  padding: 6px;
  margin: 4px;
  max-width: 100%;
  min-width: 150px;
  font: $fuente;

  @for $delta from 1 to list.length($sizes) {
    @media (min-width: list.nth($sizes, $delta + 1)) {
      max-width: 300px + $delta * 200px;
    }
  }

  .Pantalla {
    grid-column: 1 / span 4;
    background-color: var(--pantalla-background-color);
    color: var(--pantalla-color);
    border-style: inset;
    text-align: right;
    padding: 4px;
    @include tamañoFont(0.5em);
  }

  .Resumen {
    grid-column: 1 / span 4;
    text-align: right;
    @include tamañoFont(0.3em);
  }
  @mixin botones {
    width: 100%;
    font: $fuente;
    @include tamañoFont;
  }

  .btnDigito {
    color: var(--digito-color);
    @include botones;
  }

  .btnOperar {
    color: var(--operador-color);
    @include botones;
  }
}

:host-context(.theme-dark) .Calculadora {
  background-color: var(--dark-calculadora-background-color);
  color: white;
  .Pantalla {
    background-color: var(--pantalla-color);
    color: var(--pantalla-background-color);
  }
  .btnDigito {
    color: var(--dark-digito-color);
  }
  .btnOperar {
    color: var(--dark-operador-color);
  }

}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: $i;
  }
  @if $i < 12 {
    @for $s from 2 through 13 - $i {
      .col-#{$i}x#{$s} {
        grid-column: $i #{"/"} span $s;
      }
    }
  }
}
